@import url(fonts.css);
body, html { 
  font-family: font1; 
  width: 100%; 
  height: 100%;  
  margin: 0; 
  padding: 0;}
h1 { text-align: center;}
hr { border: 2px solid; margin: 0 auto; margin-left: 2%; margin-right: 2%;}
p { text-align: center; size: 10px;}
#menubar{
    margin-left: 2%;
    margin-right: 2%;
    background: black;
}
#menubar ul{
    margin: 0;
    padding: 0;
    width: 567px;
}
#menubar ul li{
    display: inline-block;
    list-style-type: none;
    padding: 0px 15px;
}
#menubar ul li a{
    color: white;
    text-decoration: none;
}
#menubar ul li a:hover{
    color: gray;
}
